<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <!-- we want to make sure we add the url for add 
    as well as name holders to get our information -->
    <form action=" {{url_for('add')}} " method="POST">
        <label>Book Name</label>
        <input type="text" name="title">
        <label>Book Author</label>
        <input type="text" name="author">
        <label>Rating</label>
        <input type="text" name="rating">
        <button type="submit">Add Book</button>
    </form>

    <a href="{{url_for('home')}}">Return Home</a>
</body>
</html>